.mod-ctrl {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;

  $targets-column-width: 7rem;
  $target-height: 3rem;
  $target-padding-tb: 0.25rem;
  $source-width: 7rem;
  $source-padding-lr: 0.25rem;

  $amount-text-color: white;
  $label-background: #666;
  $label-group-color: #333;
  $label-color: white;
  $label-group-background: #ddd;
  $cell-border-width: 1px;
  $cell-border-color: #444;
  $highlit-border-color: #ccc;
  $highlit-row-col-color: #505050;
  $highlit-cell-color: #666;

  &__amounts {
    display: flex;
    flex-direction: column;
    background-color: cyan;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__corner {
      flex: 0 0 $targets-column-width;
      background-color: $label-background;
      z-index: 3;
      border-right: $cell-border-width solid $cell-border-color;
      border-bottom: $cell-border-width solid $cell-border-color;
    }

    &__sources-container {
    }
  }

  &__content {
    display: flex;
    flex-direction: row;

    &__targets-container {
    }

    &__amounts-container {
    }
  }

  &__sources {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__source {
    display: flex;
    justify-content: center;

    padding: 0 $source-padding-lr;
    width: $source-width;
    color: $label-color;
    background-color: $label-background;
    border-right: $cell-border-width solid $cell-border-color;
    border-bottom: $cell-border-width solid $cell-border-color;

  }

  &__targets {
    z-index: 2;
    position: relative;
    width: $targets-column-width;
    display: flex;
    flex-direction: column;
    border-right: $cell-border-width solid $cell-border-color;
  }

  &__target {

    &__label {
      height: $target-height;
      border-bottom: $cell-border-width solid $cell-border-color;
      color: $label-color;
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
      background-color: $label-background;

      &--group {
        padding: $target-padding-tb 0.25rem;
        color: $label-group-color;
        background-color: $label-group-background;
      }
    }
  }

  &__amounts-table {
    z-index: 1;
    position: relative;
    top: -2rem;
    left: -2rem;
  }

  &__amount {
    border-right: $cell-border-width solid $cell-border-color;
    border-bottom: $cell-border-width solid $cell-border-color;

    display: flex;
    justify-content: center;
    width: $source-width;
    height: $target-height;
    padding: $target-padding-tb $source-padding-lr;
    background-color: #333;
    color: $amount-text-color;

    &--highlit-row {
      background-color: $highlit-row-col-color;
    }
    &--highlit-col {
      background-color: $highlit-row-col-color;
    }
    &--selected {
      background-color: $highlit-cell-color;
    }
  }
}