.mod-ctrl {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;

  $targets-column-width: 7rem;
  $target-height: 3rem;
  $target-padding-tb: 0.25rem;
  $source-width: 7rem;
  $source-padding-lr: 0.25rem;

  $amount-text-color: white;
  $label-background: #666;
  $label-group-color: #333;
  $label-color: white;
  $label-group-background: #ddd;
  $cell-border-width: 1px;
  $cell-border-color: #444;
  $highlit-border-color: #ccc;
  $highlit-row-col-color: #505050;
  $highlit-cell-color: #666;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__corner {
      flex: 0 0 $targets-column-width;
      background-color: $label-background;
      z-index: 3;
      border-right: $cell-border-width solid $cell-border-color;
      border-bottom: $cell-border-width solid $cell-border-color;
    }

    &__sources-container {
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0;  // Remove scrollbar space
        height: 0;
      }
      -ms-overflow-style: none;  // Internet Explorer 10+
      scrollbar-width: none;  // Firefox
    }
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    &__targets-container {
      border-right: $cell-border-width solid $cell-border-color;
      min-width: $targets-column-width;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 0;  // Remove scrollbar space
        height: 0;
      }
      -ms-overflow-style: none;  // Internet Explorer 10+
      scrollbar-width: none;  // Firefox
    }

    &__amounts-container {
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0;  // Remove scrollbar space
        height: 0;
      }
      -ms-overflow-style: none;  // Internet Explorer 10+
      scrollbar-width: none;  // Firefox
    }
  }

  &__sources {
    z-index: 2;
    position: relative;
    display: inline-flex; // inline required to make contents grow the size of the div
    flex-direction: row;
  }

  &__source {
    display: flex;
    justify-content: center;

    padding: 0 $source-padding-lr;
    width: $source-width;
    color: $label-color;
    background-color: $label-background;
    border-right: $cell-border-width solid $cell-border-color;
    border-bottom: $cell-border-width solid $cell-border-color;

  }

  &__targets {
    z-index: 2;
    position: relative;
    width: $targets-column-width;
    display: flex;
    flex-direction: column;

  }

  &__target {
    display: inline-block; // required to make contents grow the size of the div

    &__label {
      height: $target-height;
      border-bottom: $cell-border-width solid $cell-border-color;
      color: $label-color;
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
      background-color: $label-background;

      &--group {
        padding: $target-padding-tb 0.25rem;
        color: $label-group-color;
        background-color: $label-group-background;
      }
    }
  }

  &__amounts {
    z-index: 1;
    position: relative;
    display: inline-block; // required to make contents grow the size of the div
  }

  &__amount {

    &--header {
      padding-left: 0;
      padding-right: 0;
      border-left: 0;
      border-right: 0;
    }

    border-right: $cell-border-width solid $cell-border-color;
    border-bottom: $cell-border-width solid $cell-border-color;

    display: flex;
    flex-direction: column;
    min-width: $source-width;
    height: $target-height;
    padding: $target-padding-tb $source-padding-lr;
    background-color: #333;
    color: $amount-text-color;

    &__number {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--highlit-row {
      background-color: $highlit-row-col-color;
    }
    &--highlit-col {
      background-color: $highlit-row-col-color;
    }
    &--selected {
      background-color: $highlit-cell-color;
    }
  }
}