.mod-ctrl {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;

  $target-height: 1.5rem;
  $sources-column-width: 7rem;
  $source-height: 2rem;
  $source-padding-tb: 0.25rem;
  $target-width: 5rem;
  $target-padding-lr: 0.25rem;

  $amount-text-color: white;
  $amount-background-color: #1f1f1f;

  $label-color: white;
  $label-background: #333;
  $label-background-selected: #ddd;
  $label-color-selected: #333;
  $label-group-color: white;
  $label-group-background: #333;
  $cell-border-width: 1px;

  $cell-border-color: #353535;
  $label-cell-border-color: #222;

  $highlit-border-color: #ccc;
  $highlit-row-col-color: #505050;
  $highlit-cell-color: #666;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: $cell-border-width solid $label-cell-border-color;
    background-color: $label-group-background;

    &__corner {
      flex: 0 0 $sources-column-width;
      background-color: $label-background;
      z-index: 3;
      border-right: $cell-border-width solid $label-cell-border-color;
    }

    &__targets-container {
      overflow: scroll;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        width: 0; // Remove scrollbar space
        height: 0;
      }

      -ms-overflow-style: none; // Internet Explorer 10+
      scrollbar-width: none; // Firefox
    }
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    &__sources-container {
      border-right: $cell-border-width solid $cell-border-color;
      min-width: $sources-column-width;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 0; // Remove scrollbar space
        height: 0;
      }

      -ms-overflow-style: none; // Internet Explorer 10+
      scrollbar-width: none; // Firefox
    }

    &__amounts-container {
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0; // Remove scrollbar space
        height: 0;
      }

      -ms-overflow-style: none; // Internet Explorer 10+
      scrollbar-width: none; // Firefox
    }
  }

  &__targets {
    z-index: 2;
    position: relative;
    display: inline-flex; // inline required to make contents grow the size of the div
    flex-direction: row;
    overflow-y: hidden;
  }


  &__sources {
    z-index: 2;
    position: relative;
    width: $sources-column-width;
    display: flex;
    flex-direction: column;

  }

  &__source {
    user-select: none;
    display: inline-flex; // required to make contents grow the size of the div
    align-items: center;
    height: $source-height;
    border-bottom: $cell-border-width solid $label-cell-border-color;
    color: $label-color;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    background-color: $label-background;

    &--selected {
      color: $label-color-selected;
      background-color: $label-background-selected;
    }
  }

  &__target {
    display: flex;
    flex-direction: column;

    &__func {
      user-select: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      border-bottom: $cell-border-width solid $label-cell-border-color;
      border-right: $cell-border-width solid $label-cell-border-color;
      padding: $source-padding-tb 0.25rem;
      color: $label-group-color;
      background-color: $label-group-background;
    }

    &__props {
      display: flex;
      flex-direction: row;
    }

    &__label {
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: $target-height;
      border-right: $cell-border-width solid $label-cell-border-color;
      background-color: $label-background;
      color: $label-color;
      padding: 0 $target-padding-lr;
      width: $target-width;

      &--selected {
        color: $label-color-selected;
        background-color: $label-background-selected;
      }
    }
  }

  &__amounts {
    z-index: 1;
    position: relative;
    display: inline-block; // required to make contents grow the size of the div
  }

  &__amount {
    border-right: $cell-border-width solid $cell-border-color;
    border-bottom: $cell-border-width solid $cell-border-color;

    display: flex;
    flex-direction: column;
    min-width: $target-width;
    height: $source-height;
    padding: $source-padding-tb $target-padding-lr;
    background-color: $amount-background-color;
    color: $amount-text-color;

    &__number {
      user-select: none;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--highlit-row {
      background-color: $highlit-row-col-color;
    }

    &--highlit-col {
      background-color: $highlit-row-col-color;
    }

    &--selected {
      background-color: $highlit-cell-color;
    }
  }
}