@import '../constants';

.lfo-header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: $heading-bg-color;

  &__label {
    color: $heading-color;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    &--left {
      width: 6.5rem;
      flex-shrink: 0;
      margin-right: 0.5rem;
    }

    &--center {
      flex-grow: 1;
    }

    &--right {
      width: 6.5rem;
      flex-shrink: 0;
      margin-left: 0.5rem;
    }
  }
}

