@import '../constants';

.lfo-params {
  &__item {
    display: flex;
    justify-content: center;

    &--hidden {
      visibility: hidden;
    }

    &--values {
      &--curve {
        width: 40px;
        margin-right: 0.25rem;

        div {
          text-align: end;
        }
      }

      &--stage-percentage {
        width: 40px;

        div {
          text-align: end;
        }

        margin-right: 0.25rem;
      }

      &--offset {
        width: 35px;

        div {
          text-align: end;
        }

        padding-right: 0.25rem;
        border-right: 1px solid white;
      }

      &--stage-time {
        width: 40px;

        div {
          text-align: end;
        }
      }

      &--time {
        width: 49px;

        div {
          text-align: end;
        }

        padding-right: 0.25rem;
        border-right: 1px solid white;
      }

      div {
        text-align: end;
        margin-right: 0.5rem;

      }
    }
  }
}

