.stage-activator{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  width:6em;

  .gui-ctrl-button {
    height: 100%;
    margin-bottom: 0.25em;
  }
}