@import '../constants';

.stage-names {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $text-dim;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}