@import '../constants';

.patch-browser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: $text-bright;

  &_filename{
    margin-top: 2rem;
    color: $accent-primary;
  }
}