.subheader {
  &-label {
    fill: white;
    font-size: 4.5px;
  }

  &-underline {
    stroke: white;
    stroke-width: 1;
  }
}

.cut {
  .subheader {
    &-label {
      fill: black;
    }

    &-underline {
      stroke: black;
    }
  }
}
