@import '../constants';

.subheader {
  &-label {
    fill: $module-label-color;
    font-size: 3.5px;
    text-transform: uppercase;
  }

  &-underline {
    stroke: $module-border-color;
    stroke-width: 1;
  }

  &-border {
    stroke: $module-border-color;
    fill: $module-border-color;
    stroke-width: 0.5;
  }
}

.cut {
  .subheader {
    &-label {
      fill: black;
    }

    &-underline {
      stroke: black;
    }
  }
}
