@import './constants';

.ctrl-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1em solid $button-border-color;
  padding: 0.25em;
  color: $button-inactive-color;

  &--active {
    background-color: $button-active-bg-color;
    color: $button-active-color;
  }
}