.ctrl-button {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #444;
  padding: 0.25rem;
  color: #666;

  &--active {
    background-color: #ddd;
    color: #333;
  }
}