@import './constants';

// TODO: Change !active style to something that lets the user think it's clickable
.gui-ctrl-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1em solid $button-border-color;
  padding: 0.25em;
  color: $button-color;
  background-color: $button-bg-color;

  &--active {
    background-color: $button-active-bg-color;
    color: $button-active-color;
  }

  &--disabled {
    background-color: $button-bg-color;
    color: $button-disabled-color;
  }
}