$heading-bg-color: #333;
$heading-color: white;

$font-color: white;

$footer-bg-color: #333;
$footer-color: white;

$button-bg-color: transparent;
$button-color: #ddd;
$button-disabled-color: #666;
$button-active-color: #333;
$button-active-bg-color: #ddd;
$button-border-color: #444;