$heading-bg-color: #333;
$heading-color: white;

$footer-bg-color: #333;
$footer-color: white;

$button-inactive-color: #666;
$button-active-color: #333;
$button-active-bg-color: #ddd;
$button-border-color: #444;