.pot{
  overflow: visible;

  &-knob{
    stroke: black;
    fill: darkslategray;
  }

  &-ring {
    &-led {
      stroke: #640000;
      fill: #640000;

      &__on{
        stroke: red;
        fill: red;
      }
    }
  }
}