.pot{
  overflow: visible;

  &-knob{
    stroke: black;
    fill: #181818;
  }

  &-ring {
    &-led {
      stroke: #500000;
      fill: #500000;

      &__on{
        stroke: red;
        fill: red;
      }
    }

    &-window{
      stroke: #1f0000;
      fill: none;
    }
  }
}