@import '../constants';

@keyframes routing-led-flash {
  0%, 49.9% { fill: red; stroke: red; }
  50%, 100% { fill: #500000; stroke: #500000; }
}

.pot--routing-candidate .pot-ring-led {
  animation: routing-led-flash 1.5s steps(2, jump-none) infinite;
}

.pot--routing-selected .pot-ring-led {
  animation: routing-led-flash 0.7s steps(2, jump-none) infinite;
}

.pot {
  &-knob {
    stroke: black;
    fill: #181818;

    &-silver {
      fill: #d2d2d2;
    }
  }

  &-ring {
    &-led {
      stroke: #500000;
      fill: #500000;

      &__on {
        stroke: red;
        fill: red;
      }
    }

    &-window {
      stroke: #1f0000;
      fill: none;
    }
  }

  &-label {
    fill: $function-label-color;
    font-size: $function-label-font-size;
  }
}

.cut {
  .pot {
    &-knob {
      stroke-width: $cut-line-width;
      stroke: black;
      fill: none;
    }

    &-ring {
      &-led {
        stroke-width: $cut-line-width;
        stroke: black;
        fill: none;
      }
      &-window {
        stroke: black;
        fill: none;
      }
    }
    &-label {
      fill: black;
      stroke: none;
    }

    &-key {
      stroke-width: $cut-line-width;
      stroke: black;
      fill: none;
    }
  }
}