// Scheme 3 - lighter modules
$panel-background: #1e1e1e;
$center-panel-background: #101010;
$module-border-color: #3e3e3e;
$module-background-color: #3e3e3e;

// Scheme 1 - darker modules
$panel-background: #3e3e3e;
$center-panel-background: #101010;
$module-border-color: #1e1e1e;
$module-background-color: #1e1e1e;

// Scheme 2 - blueish
$panel-background: #00293c;
$center-panel-background: #101010;
$module-border-color: #404040;
$module-background-color: #404040;


$module-border-color-dark: #202020;
$module-background-color-dark: #202020;

$module-border-color-light: #606060;
$module-background-color-light: #606060;

$divider-color: white;

$header-border-color: #f0f0f0;
$header-label-color: #202020;

$function-label-color: #f0f0f0;
$function-label-font-size: 3.5px;

$function-value-color: #f0f0f0;
$function-value-font-size: 3px;

$svf-color: #00bfa6;
$lpf-color: #ff8700;

// Modulation routing LED colors
$routing-led-on: red;
$routing-led-dim: #aa0000;
$routing-led-flash-off: #500000;

//$cut-line-width: 0.024;
$cut-line-width: 1;