$panel-background: #202020;

$module-border-color: #393939;
$module-background-color: #393939;

$divider-color: none;

$header-border-color: #f0f0f0;
$header-label-color: #202020;

$function-label-color: #f0f0f0;
$function-label-font-size: 3.5px;

$function-value-color: #f0f0f0;
$function-value-font-size: 3px;
