$panel-background: #202020;

$module-border-color: #f0f0f0;
$module-label-color: #202020;
$module-background-color: #393939;

$function-label-color: #f0f0f0;
$function-label-font-size: 3.5px;

$function-value-color: #f0f0f0;
$function-value-font-size: 3px;
