body {
  font-family: sans-serif;
  user-select: none;
}

svg {
  overflow: visible;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
  background: none;
}

.module-background {
  fill: #3b3b3b;
  stroke: none;
}

.highlight-background {
  fill: #6e6e6e;
  stroke: none;
}