@import '../constants';

.settings-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 16em; // Increased width

  .gui-ctrl-button {
    text-align: center;
    height: 2.5em;
    margin-bottom: 0.25em;
    width: 100%; // Make buttons fill the column width
    min-width: 10em; // Optional: set a minimum width
    box-sizing: border-box;
  }

  &__columns {
    display: flex;
    gap: 24px;
    margin-top: 12px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
}