@import '../constants';

.stage-params {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &__value {
      display: flex;
      justify-content: center;

      &--hidden {
        visibility: hidden;
      }
    }
  }
}


